name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Dock
      run: |
        docker pull devrvk/so-decompiler:latest
        docker run -v ./uploads:/decompile/uploads -v ./output:/decompile/output devrvk/so-decompiler angr /decompile/uploads/libMCGG.so /decompile/output
        sudo chmod -R 777 ./output
        
    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: decompiled
        path: ./output
